# Visual Stduio Configuration Files
.vs/

# Rider Configuration Files
.idea/

# The Binrary Files
bin/
obj/

# The Database Files
*.db*

# The log Files
*.log

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
