<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="logs/${shortdate}.log"
            layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||end" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- add all PostCalendarAPI infomation into log-->
    <logger name="PostCalendarAPI.*" minlevel="Info" writeTo="allfile" />
    <!-- add the lifetime infomation to log-->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Warn" writeTo="allfile" />
  </rules>
</nlog>